* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: monospace;
  background: #111;
}